@charset "utf-8";



/* 레이아웃 */
#banner {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
}


/* 가운데 영역 */
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}

/* 로우 영역 */
.row {
    padding: 0 28px;
}


/* 스토어 */
#store{ background-color: #fff;}

.store_goods { height: 59px;}
.store_goods > div  {float: left; width: 292px; height: 592px; margin-right: 18px;}
.store_goods > div:last-child {margin-right: 0;}
.store_goods > div .store_img {position: relative;}
.store_goods > div .store_img img{width: 292px; height: 243px;}
.store_goods > div .store_img > img {display: block;}
/* .store_goods > div .store_img > img {height: 243px; width: 243px;} */
.store_goods > div .store_infor {background: #fff; padding: 15px; ;}
.store_goods div .store_infor h3 {color: #333; font-size: 20px; font-weight: 700; margin-bottom: 20px;}
.store_goods > div .store_infor h4 {color: #333; font-size: 15px; font-weight: 700; margin-bottom: 20px;}
.store_goods > div .store_infor h4{font-size: 20px; color: #3a1a6a;}

/* 공지사항 */
.notice_list{height: 62px; margin-top: 50px; margin-bottom: 50px;}
.notice_list > div  {float: left; margin-left: 100px; margin-right: 100px;}
.not_list2{margin-left: 50px;}

/* 고객센터 */
.ifm_list > div  {float: left; margin-left: 50px; margin-right: 100px;}



