@charset "utf-8";



/* 레이아웃 */
#banner {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
}

/* 가운데 영역 */
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}

/* 로우 영역 */
.row {
    padding: 0 28px;
}

/* 슬라이드 */
.slider {
    width: 100%;
}

.slider .ss1 {
    background: url(../img/main_slider01_2000.jpg) no-repeat center center;
    background-size: cover;
}

.slider .ss2 {
    background: url(../img/main_slider02_2000.jpg) no-repeat center center;
    background-size: cover;
}

.slider .ss3 {
    background: url(../img/main_slider03_2000.jpg) no-repeat center center;
    background-size: cover;
}

.slider .swiper-slide h3 {
    position: relative;
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-top: 200px;
}

.slider .swiper-slide {
    text-align: center;
}

.slider .swiper-slide h3 {
    font-size: 40px;
    color: #fff;
    margin-top: 250px;
    opacity: 1;
}

.slider .swiper-slide p {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 200px;
    font-weight: 100;
}

/* 무비 */
.movie {padding: 100px 0;}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 848px; margin: 0 auto;}
.movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title li.active a {background: #666; color: #fff;}
.movie_chart {overflow: hidden; height: 592px;}
.movie_chart > div > div > div {float: left; width: 292px; height: 592px; margin-right: 18px;}
.movie_chart > div > div > div:last-child {margin-right: 0;}
.movie_chart > div > div > div .poster {position: relative;}
.movie_chart > div > div > div .poster img {display: block;}
.movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5); line-height: 50px; background-color: #38116a; text-align: center;}
.movie_chart > div > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,1);}
.movie_chart > div > div > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.movie_chart > div > div > div .poster .mx span {width: 103px; height: 25px; display: block;}
.movie_chart > div > div > div .poster .mx .m {background-position: 0 -75px;}
.movie_chart > div > div > div .poster .mx .b {background-position: 0 -100px;}
.movie_chart > div > div > div .infor {background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie_chart > div > div > div .infor h3 {color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px;}
.movie_chart > div > div > div .infor h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -2px;}
.movie_chart > div > div > div .infor h3 span.all {background-position: -87px -125px;}
.movie_chart > div > div > div .infor h3 span.a12 {background-position: -58px -125px;}
.movie_chart > div > div > div .infor h3 span.a15 {background-position: 0px -125px;}
.movie_chart > div > div > div .infor h3 span.a19 {background-position: -29px -125px;}
.movie_chart > div > div > div .infor .infor_btn {overflow: hidden;}
.movie_chart > div > div > div .infor .infor_btn a {float: left; width: 49%; margin-right: 2%; text-align: center; background: #f2f2f2; font-size: 18px; padding: 15px; box-sizing: border-box;}
.movie_chart > div > div > div .infor .infor_btn a:last-child {margin-right: 0;}
/* 미디어쿼리 */
@media (max-width: 1290px) {
    .container {
        width: 100%;
    }

    .header .nav ul li {
        width: 93px;
    }

    .header .nav ul li a {
        font-size: 15px;
        padding: 17px 10px
    }

    .header h1 em {
        padding: 11px 8px 5px 0;
    }

    .header h1 strong {
        top: 19px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

@media (max-width: 1024px) {
    #mNav {
        display: block;
    }

    .nav {
        display: none;
    }

    .row {
        padding: 0 24px;
    }

    .header h1 {
        float: none;
        text-align: center;
    }

    .header h1 strong {
        left: 24px;
    }

    .banner_menu .bm_left ul {
        display: none;
    }

    .banner_menu .bm_right ul:first-child {
        display: none;
    }
}

@media (max-width: 960px) {
    .slider {
        height: 500px;
    }

    .slider .swiper-slide h2 {
        margin-top: 170px;
        font-size: 37px;
        line-height: 45px;
    }

    .slider .swiper-slide h2:after {
        bottom: -15px;
    }

    .slider .swiper-slide h2 em {
        font-size: 34px;
    }

    .slider .swiper-slide p {
        font-size: 16px;
        padding-top: 35px;
    }
}

@media (max-width: 768px) {
    .row {
        padding: 0 16px;
    }

    #mNav {
        right: 6px;
    }

    .header h1 {
        text-align: left;
    }

    .header h1 strong {
        display: none;
    }
}

@media (max-width: 600px) {
    .slider {
        height: 400px;
    }

    .slider .swiper-slide h2 {
        margin-top: 140px;
        font-size: 24px;
        line-height: 30px;
    }

    .slider .swiper-slide h2:after {
        bottom: -5px;
    }

    .slider .swiper-slide h2 em {
        font-size: 20px;
    }

    .slider .swiper-slide p {
        font-size: 14px;
        padding-top: 25px;
    }

    .banner_menu {
        top: 16px;
    }

    .banner_menu .bm_right li.white a {
        font-size: 14px;
        padding: 3px 5px 5px 5px;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        border-color: #fff;
    }

    .banner_menu .bm_right li.purple a {
        font-size: 14px;
        padding: 3px 5px 5px 5px;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        border-color: #fff;
    }

    .swiper-pagination-bullet {
        width: 13px !important;
        height: 13px !important;
    }
}

@media (max-width: 480px) {}

@media (max-width: 320px) {}